/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1 et h2 (Titres de niveau 1 et niveau 2) */
h1, h2 {
    color: rgb(30, 245, 180);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs div, h1, h2, p, a, label, input (Conteneurs, titres de niveau 1 et de niveau 2, paragraphes, liens, tags ou légendes pour un objet, champs de saisie) */
div, h1, h2, p, a, label, input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ol, ul et li (Listes à puces ordonnées, listes à puces non-ordonnées et éléments de liste) */
ol, ul, li {
    list-style: inside;
}

/* Sélecteurs img (Images) */
img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs a, label, input (Liens , tags ou légendes pour un objet, champs de saisie) */
a, label, input {
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs table (Tableaux) */
table {
    text-align: center;
    background: rgb(130, 130, 233);
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs .circulaire (Sélecteurs de classe de plusieurs éléments) */
.circulaire {
    list-style: inside;
    list-style-type: circle;
}

/* Sélecteurs .carree (Sélecteurs de classe de plusieurs éléments) */
.carree {
    list-style: inside;
    list-style-type: square;
}
