/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1 et h2 (Titres de niveau 1 et titres de niveau 2) */
h1, h2 {
    /* La propriété de Couleur CSS color permet de spécifier la couleur
    d'un texte d'un élément (X)HTML. */
    color: rgb(30, 245, 180);
    /* Quelques autres propriétés CSS relatives aux couleurs :
    background-color, border-color, outline-color, text-decoration-color,
    text-emphasis-color, text-shadow, caret-color, column-rule-color et color-adjust */
}

/* Sélecteurs p (Paragraphes) */
p {
    /* La propriété CSS font-family permet de spécifier la police à utiliser
    pour afficher un texte. */
    font-family: Arial, Helvetica, sans-serif;
    /* Définit, sous forme de liste classée par ordre de préférence,
    la famille de polices à utiliser pour afficher le contenu.
    Vous pouvez inclure un ou plusieurs noms dans cette liste,
    en les séparant par des virgules.  */

}

/* Sélecteurs div, h1, h2, p, a (Conteneurs, titres de niveau 1 et de niveau 2, paragraphes, liens) */
div, h1, h2, p, a {
    /* La propriété CSS text-align définit l'alignement horizontal d'un élément de bloc
    ou de la boîte d'une cellule de tableau. Cette propriété fonctionne donc de façon
    analogue à vertical-align mais dans le sens horizontal.
    Ci-après les valeurs, propriétés + mots-clés :
        text-align: left;
        text-align: right;
        text-align: center;
        text-align: justify;
        text-align: justify-all;
        text-align: start;
        text-align: end;
        text-align: match-parent; */
    text-align: center;
    /* La propriété CSS font-family permet de spécifier la police à utiliser
    pour afficher un texte. */
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul et li (listes à puces non-ordonnées) */
ul, li {
    /* La propriété de Listes CSS list-style est un raccourci pour spécifier le
    type du marqueur d'item et la position du texte par rapport au marqueur d'item. 
    Exemple de syntaxe CSS list-style :
        list-style: upper-alpha;
        list-style: circle;
        list-style: outside url(puce.gif);
        list-style: lower-alpha outside; */
    list-style: inside;
    /* La propriété de feuille de style list-style CSS peut pendre
    les trois valeurs à la suite :
        list-style-type : spécifie le type marqueur d'item de liste.
        list-style-image : mettre une image à la place du marqueur d'item de liste.
        list-style-position : spécifie l'alignement par rapport au marqueur d'item de liste lors d'un retour à la ligne automatique.
    Il est possible d'omettre des valeurs.

    La propriété de feuille de style list-style CSS peut pendre aussi la valeur de :
    inherit, (valeur seule) hérite de son parent (css 2) */
}

/* Sélecteur a (Liens) */
a {
    /* La propriété CSS Display définit la nature de l'élément et la façon
     de l'afficher.
    Exemple de syntaxe CSS display
        display: none;
        display: inline;
        display: block;
        display: inline-block;
        display: list-item;
        display: flex;
        display: inline-flex;
        display: grid;
        display: inline-grid;
        display: contents;
        display: run-in; ⚠ Attention ! Valeur pour l'instant non reconnue par les navigateurs.
        display: table;
        display: inline-table;
        display: table-caption;
        display: table-header-group;
        display: table-footer-group;
        display: table-row-group;
        display: table-row;
        display: table-column;
        display: table-column-group;
        display: table-cell;
        display: ruby;
        display: ruby-base;
        display: ruby-text;
        display: ruby-base-container;
        display: ruby-text-container;
        display: initial;
        display: inherit;
        display: revert;
        display: unset;
    La propriété CSS Display et globalement bien prise en charge par les
    navigateurs actuels pour ce qui est des valeurs classiques : block, inline, etc.
    Certaines valeurs, comme contents, run-in, posent encore des problèmes
    de compatibilité (voir les tableaux de compatibilité).
    Les tableaux de compatibilité sont fournis par caniuse.com
    */
    display: block;
    /* La propriété de Marge CSS margin-left permet de spécifier
    l'espace entre la bordure gauche d'un élément HTML ou XHTML et
    la marge extérieure droite de l'élément adjacent.
    "Où se trouve la marge gauche : margin-left"
    La CSS margin-left est nommée marge Css extérieure gauche,
    à ne pas confondre avec la marge Css intérieure gauche : padding-left.
    Exemple de syntaxe CSS margin-left :
        margin-left : auto;
        margin-left : 12px;
        margin-left : 15%; */
    margin-left: auto;
    /* La propriété de Marge CSS margin-right permet de spécifier
    l'espace entre la bordure droite d'un élément HTML ou XHTML et
    la marge extérieure gauche de l'élément adjacent
    "Où se trouve la marge droite : margin-right"
    La CSS margin-right est nommée marge Css extérieure droite,
    à ne pas confondre avec la marge Css intérieure droite : padding-right.
    Exemple de syntaxe CSS margin-right :
        margin-right : auto;
        margin-right : 3px;
        margin-right : 6%; */
    margin-right: auto;
}
