/*********************** Les sélecteurs CSS de niveau 2 ******************/


/*************************************************************************/
/*********************************Universel********************************/
/*************************************************************************/

/* Le sélecteur universel (symbole astérisque [*]) sélectionnera chaque élément
de n'importe quel type. */

/* Syntaxe
* {
    /* declarations */
/*
}
*/

/* Exemple */
* {
    /* pratique courante mais à utiliser avec prudence */
    padding: 0px;
    margin: 0px;
}
/* Chaque élément obtiendra zéro pixel margin et padding. */


/*************************************************************************/
/**************************Pseudo-classe Lang*****************************/
/*************************************************************************/

/* La pseudo-classe lang correspondra aux éléments basés sur la langue du document.
Cela peut être défini via l' langattribut HTML, une information HTTP ou <meta>. */

/* Syntaxe
:lang(language) {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:lang(en) {
    color: red;
}
/* Exemple numéro 2 */
:lang(de) {
    color: blue;
}
/* Alors que tous les éléments en anglais auront une couleur rouge,
le texte en allemand aura une couleur bleue. */


/*************************************************************************/
/***************Pseudo-classe d'action utilisateur************************/
/*************************************************************************/

/* L' action utilisateur pseudo-classe :hover et :focus permet de visualiser
si l'utilisateur survole ou focalise un élément. */
/*** Survol : Le :hover sélecteur correspond si l'utilisateur avec
un dispositif de pointage survole un élément.

/* Syntaxe
E:hover {
    /* declarations */
/*
}
*/

/* Exemple */
a:hover {
    outline: 1px dashed gray;
}
/* Le lien aura une bordure grise en pointillés si l'utilisateur survole le lien. */


/*************************************************************************/
/***********************Pseudo-classe structurelle************************/
/*************************************************************************/

/* Cette pseudo-classe structurelle représente l'élément qui est le premier enfant
de son parent. */

/* Syntaxe
:first-child {
    /* declarations */
/*
}
*/

/* Exemple */
div :first-child {
    color: red;
}
/* Le premier <span> doit être mis en correspondance afin qu'il soit rouge
car ce sont les premiers enfants de son parent <div>. */


/*************************************************************************/
/*****************************Combinaison enfant**************************/
/*************************************************************************/

/* Ce sélecteur de combinaison enfant correspondra aux éléments enfants
qui sont des enfants directs du premier sélecteur. */

/* Syntaxe
E > F {
    /* declarations */
/*
}
*/

/* Exemple */
div > span {
    color: red;
}
/* Le premier intérieur <span> à l'intérieur de notre <div> sera rouge
parce que c'est un enfant direct, l'intérieur de notre <span> ne sera pas apparié. */


/*************************************************************************/
/***********************************Attribut******************************/
/*************************************************************************/

/* Ces sélecteurs d'attributs permettent de sélectionner des chaînes
correspondantes dans la valeur d'un attribut. */
/***Ce sont les sélecteurs CSS2 mais,
il y a aussi de nouveaux sélecteurs d'attributs dans CSS3. */

/* Se produit : Ce sélecteur d'attribut correspond à tout élément qui a un tel attribut donné. */

/* Syntaxe
[attribute] {
    /* declarations */
/*
}
*/

/* Exemple */
[title] {
    border-bottom: 1px solid black;
}
/* Tous les éléments qui ont un title attribut seront sélectionnés et
auront une bordure inférieure noire. */


/*************************************************************************/
/***************Combinaison de frères et sœurs adjacents******************/
/*************************************************************************/

/* Le sélecteur universel (symbole astérisque [*]) sélectionnera chaque élément
de n'importe quel type. */

/* Syntaxe
E + F {
    /* declarations */
/*
}
*/

/* Exemple */
h3 + p {
    color: red;
}
/* Le premier <p> sera rouge car il suit directement l'élément <h3>,
les autres <p> ne seront pas rouges car ils ne viennent pas
immédiatement après l'en-tête (au même niveau). */
