/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1, h2, h3, h4, h5 et h6 (Titres de niveau 1, niveau 2, niveau 3, niveau 4, niveau 5 et niveau 6) */
h1, h2, h3, h4, h5, h6 {
    color: rgb(30, 245, 180);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs h1, h2, h3, h4, h5, h6, p, a, label, input (Conteneurs, titres de niveau 1, titres de niveau 2, titres de niveau 3, titres de niveau 4, titres de niveau 5, titres de niveau 6, paragraphes, liens, tags ou légendes pour un objet, champs de saisie) */
div, h1, h2, h3, h4, h5, h6, p, a, label, input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul (Listes à puces non-ordonnées) */
ul {
    list-style: inside;
}

/* Sélecteurs ol et li (Listes à puces ordonnées et éléments de liste) */
ol, li {
    list-style-position: inside;
}

/* Sélecteurs img (Images) */
img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs a, label, input (Liens , tags ou légendes pour un objet, champs de saisie) */
a, label, input {
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs table (Tableaux) */
table {
    text-align: center;
    background: rgb(130, 130, 233);
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs .circulaire (Sélecteurs de classe de plusieurs éléments) */
.circulaire {
    list-style: inside;
    list-style-type: circle;
}

/* Sélecteurs .carree (Sélecteurs de classe de plusieurs éléments) */
.carree {
    list-style: inside;
    list-style-type: square;
}

/* Sélecteurs pre (Textes préformatés) */
pre {
    margin-left: 380px;
    margin-right: auto;
}
