/*********************** Les sélecteurs CSS de niveau 3 ******************/

/*************************************************************************/
/**********************************Attribut*******************************/
/*************************************************************************/

/* Ce sont des sélecteurs d'attribut qui permettent de sélectionner
des chaînes correspondantes dans la valeur d'un attribut. */
/***Ces sélecteurs CSS3 étaient déjà moins puissants que les sélecteurs
d'attributs dans CSS2.***/

/* Prefixe : Le sélecteur d'attribut de préfixe correspond à un élément
dont la valeur d'attribut (qui ne doit pas être vide) commence
par la valeur de préfixe. */

/* Syntaxe
[attribute^=value] {
    /* declarations */
/*
}
*/

/* Exemple */
a[href^="https://"] {
    border-bottom: 1px solid red;
}
/* Ici, tous les https://liens auront une bordure inférieure rouge. */


/*************************************************************************/
/***************************Pseudo-classe cible***************************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe cible et représente un élément
qui correspond à l'identifiant de fragment de l'URI. Par exemple un URI pointe
vers une ancre nommée partHelp comme ci-après :
https://example.com/test.html#partHelp
l'élément avec l'ID partHelp sera sélectionné par ce sélecteur. */

/* Syntaxe
:target {
    /* declarations */
/*
}
*/

/* Exemple */
:target {
    outline: red dotted;
}
/* L'élément avec l'identifiant de fragment de l'URI aura une bordure en pointillé
rouge autour de lui. */


/*************************************************************************/
/***********************Pseudo-classe de négation*************************/
/*************************************************************************/

/* La pseudo-classe de négation prend en argument
une simple liste de sélection (combinaisons non autorisées).
Il correspond à un élément qui n'est pas représenté par l'argument passé
et cette négation peut ne pas être imbriquée en elle-même. */

/* Syntaxe
:not(negation-selector) {
    /* declarations */
/*
}
*/

/* Exemple */
a:not([rel="external"]) {
    color: red;
}
/* Tous les liens de l'exemple qui n'ont pas d'attribut rel externe doivent être
colorés en rouge. */


/*************************************************************************/
/****************Combinateur général de frères et sœurs*******************/
/*************************************************************************/

/* Le combinateur de frères et sœurs général sélectionne tous les frères et sœurs F
de l'élément spécifié E, mais seuls les frères et sœurs qui se produisent après
l'élément Edans l'arborescence DOM seront sélectionnés. */

/* Syntaxe
E ~ F {
    /* declarations */
/*
}
*/

/* Exemple */
h1 ~ p {
    border-left: 1px solid gray;
}
/* Cet exemple ajoutera une bordure grise à gauche à tous les <p> les frères de <h1>. */


/*************************************************************************/
/******************Pseudo-classe activée et désactivée********************/
/*************************************************************************/

/* Ces pseudo-classes activées et désactivées correspondent à tous les éléments
activés ou désactivés. :disabled les éléments sont désactivés s'ils ne peuvent pas
être activés (sélectionnés, cliqués, accepter la saisie de texte ou accepter le focus)
pendant qu'ils représentent :enabled tous les éléments actifs pouvant avoir le focus. */

/* Syntaxe numéro 1
:enabled {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:disabled {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:enabled {
    border-color: green;
}

/* Exemple numéro 2 */
:disabled {
    border-color: gray;
}
/* Dans cet exemple, l'élément d'entrée activé (état normal) aura une bordure verte
et les éléments désactivés une bordure grise. */


/*************************************************************************/
/*******************Pseudo-classe d'option sélectionnée*******************/
/*************************************************************************/

/* Cette pseudo-classe est appelée option-sélectionnée et correspondra
à tout élément qui est en mode coché lorsque l'utilisateur sélectionne
le ou les éléments, par exemple des cases à cocher ou des boutons radio. */

/* Syntaxe
:checked {
    /* declarations */
/*
}
*/

/* Exemple */
:checked {
    opacity: 0.5;
}
/* Ici, dans cet exemple, va changer le opacity d'une case à cocher
opacité à la valeur de 50%. */


/*************************************************************************/
/**************************Pseudo-classe structurelle*********************/
/*************************************************************************/

/* Ces pseudo-classes sont appelées pseudo-classes structurelles et,
sélectionnent en fonction de l'arborescence du document mais ne peuvent pas être
représentées par d'autres sélecteurs simples.
La numérotation de l'index commence à 1. */

/* La racine : La pseudo-classe :root correspond à l'élément racine d'un document.
Dans les documents HTML, il s'agit toujours de l'élément <html>. */

/* Syntaxe
:root {
    /* declarations */
/*
}
*/

/* Exemple */
:root {
    background-color: gray;
}
/* Dans cet exemple, l'élément racine <html> aura un gray background-color. */