/*********************** Les sélecteurs CSS de niveau 4 ******************/


/*************************************************************************/
/*********************Attribut sensible à la casse************************/
/*************************************************************************/

/* Le sélecteur de sensibilité à la casse des attributs est essentiellement
équivalent au sélecteur d'attributs CSS2, mais à la différence de définir
la sensibilité à la casse dans la plage ASCII. i sélectionne un élément en utilisant
la valeur d'attribut donnée en mode insensible à la casse.
s définit la valeur d'attribut donnée pour qu'elle soit sensible à la casse.
Par défaut, le sélecteur est sensible à la casse mais cela dépend
de la langue du document. */

/* Syntaxe numéro 1
[attribute="value" i] {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
[attribute="value" s] {
    /* declarations */
/*
}
*/

/* Exemple */
a[href$="pdf" i] {
    color: red;
}
/* Ici, il est possible de sélectionner tous les liens qui ont un attribut href
avec la fin exacte pdf mais pas les terminaisons de valeur PDF ou pDf. */


/*************************************************************************/
/***************************Pseudo-classe vide****************************/
/*************************************************************************/

/* Cette pseudo-classe blank sélectionne les entrées utilisateur sans aucun contenu.
Si vous cherchez à faire correspondre des éléments vides, :empty est le sélecteur
correspondant. */

/* Syntaxe
:blank {
    /* declarations */
/*
}
*/

/* Exemple */
:blank {
    border: 2px solid yellow;
}
/* Dans cet exemple, seule la deuxième zone de texte et la deuxième entrée
seront mises en correspondance car elles n'ont pas de contenu. */


/*************************************************************************/
/***********************Pseudo-classe structurelle************************/
/*************************************************************************/

/* La structure de la pseudo-classe introduit le sélecteur :nth-child()
et :nth-last-child() qui est similaire au :nth-child() dans CSS3.
La différence est que ce sélecteur correspondra à la liste de sélecteurs donnée
composée de leurs frères et sœurs inclusifs . */

/* Syntaxe numéro 1
:nth-child(An+B [of S]?) {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:nth-last-child(An+B [of S]?) {
    /* declarations */
/*
}
*/

/* Exemple */
li:nth-child(even of :not([hidden])) {
    background-color: yellow;
}
/* Chaque élément de la liste paire doit avoir une couleur d'arrière-plan jaune
même si certains éléments sont cachés entre les deux.
Le dernier li doit avoir une couleur de fond verte. */


/*************************************************************************/
/****************************Pseudo-classe Dir****************************/
/*************************************************************************/

/* La pseudo-classe dir correspondra aux éléments par sa directionnalité déterminée
par le langage du document. Actuellement ltr et rtl sont des valeurs communes
- tandis que ltr signifie left-to-right et rtl pour right-to-left. */

/* Syntaxe
:dir(direction) {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:dir(ltr) {
    color: red;
}

/* Exemple numéro 2 */
:dir(rtl) {
    color: blue;
}
/* Alors que les éléments avec ltr auront une couleur rouge,
les éléments rtl auront une couleur bleue. */


/*************************************************************************/
/*******************Pseudo-classe de lien hypertexte**********************/
/*************************************************************************/

/* Cette pseudo-classe d'action de lien hypertexte correspondra aux éléments
qui agissent comme les ancres source des liens hypertexte. Il agit comme un alias
pour :link et :visited. */

/* Syntaxe
:any-link {
    /* declarations */
/*
}
*/

/* Exemple */
:any-link {
    background-color: blue;
}
/* Lorsque le lien agit comme ancre source, il obtiendra un fond bleu
dans cet exemple. */


/*************************************************************************/
/****************************Pseudo-classe Lang***************************/
/*************************************************************************/

/* La pseudo-classe lang correspondra aux éléments basés sur la langue du document.
Cela peut être défini via lang "l'attribut HTML", une information HTTP ou <meta>
et il est similaire au sélecteur de pseudo-classe CSS2 lang.
La différence est le nouveau sélecteur de caractères génériques
qui permet de sélectionner plusieurs langues à la fois. */

/* Syntaxe
:lang(*-language) {
    /* declarations */
/*
}
*/

/* Exemple */
:lang(en-*) {
    color: red;
}
/* Alors que tous les éléments avec un attribut de langue qui indique l'anglais
auront une couleur rouge, le texte français conservera sa couleur par défaut. */


/*************************************************************************/
/*********************Pseudo-classe de lien local*************************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe de lien local et correspond
uniquement aux liens dont l'URL cible correspond à l'URL du document propre
aux liens. */

/* Syntaxe
:local-link {
    /* declarations */
/*
}
*/

/* Exemple */
nav :local-link {
    color: red;
}
/* Tous les liens à l'intérieur de l'élément <nav> ciblant
la même URL que l'URL du document seront rouges. */


/*************************************************************************/
/**************Correspond à n'importe quelle pseudo-classe****************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe matches-any et prend
une liste de sélecteurs comme argument. Il vous permet de créer des ensembles
de sélecteurs en instituant des groupes qui correspondent à tous les sélecteurs inclus.
D'autres pseudo-éléments ne peuvent pas être représentés avec cette pseudo-classe,
donc par exemple les négations ne peuvent pas être imbriquées comme cet exemple invalide :
E:is(:is(F)).
Veuillez noter que ce sélecteur s'appelait auparavant :matches(). */

/* Syntaxe
:is(selector1[, selector2, …]) {
    /* declarations */
/*
}
*/

/* Exemple */
section h1, article h1, aside h1 {
    color: red;
}

/* :is (le même que) */

:is(section, article, aside) h1 {
    color: red;
}

/* Exemples de travail préfixés. Remarque : Mozilla et WebKit utilisent leur propre syntaxe :-prefix-any */
:-moz-any(section, article, aside) h1,
:-webkit-any(section, article, aside) h1{
    color: red;
}
/* Cet exemple sélectionnera tous les en-têtes <h1> qui sont des enfants de <section>,
<article>, <aside> groupés par le :is sélecteur. */


/*************************************************************************/
/**************Pseudo-classe d'ajustement de spécificité******************/
/*************************************************************************/

/* Semblable à matches-any, cette pseudo-classe d'ajustement de spécificité
représente un élément qui est représenté par ses arguments
(sous forme de liste de sélection) juste avec une spécificité de zéro.
Ceci est utile chaque fois qu'une correspondance générale est utilisée,
mais de simples écrasements doivent toujours être possibles. */

/* Syntaxe
:where(selector1[, selector2, …]) {
    /* declarations */
/*
}
*/

/* Exemple */
input:where(:not(:focus)) {
    background-color: #000000;
}

form input {
    background-color: #bbbbbb;
}
/* Toutes les entrées de cet exemple doivent avoir un fond noir (sauf sur le focus)
avec une spécificité de zéro, ce qui signifie que les éléments <form> et <input>
écraseraient déjà le sélecteur en raison d'une spécificité plus élevée. */


/*************************************************************************/
/**********************Pseudo-classe de mutabilité************************/
/*************************************************************************/

/* La mutabilité de pseudo-classe représente des éléments dont
le contenu est modifiable ou non par l'utilisateur.
:read-only représente la plus grande partie d'un site : le contenu non modifiable.
:read-write représente des éléments d'entrée modifiables par l'utilisateur ou
avec l'attribut content editable nouvellement introduit dans HTML5 qui permet
à l'utilisateur de modifier le contenu. */

/* Syntaxe numéro 1
:read-only {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:read-write {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:read-only {
    font-family: Verdana, Arial, sans-serif;
}

/* Exemple numéro 2 */
:read-write {
    font-family: Trebuchet MS, Times New Roman, sans-serif;
    border: 1px dotted gray;
}
/* Dans le code mentionné ci-dessus, tout le contenu non modifiable aura
la police Verdana, Arial, sans-serif tandis que les entrées modifiables ou
le contenu modifiable auront une police différente avec
une bordure grise en pointillés. */


/*************************************************************************/
/***********************Pseudo-classe de négation*************************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe de négation qui prend
une simple liste de sélecteurs comme argument (les sélecteurs de combinaison ne sont pas autorisés).
Il correspond aux éléments qui ne sont pas représentés par les arguments passés.
Les négations ne peuvent pas être imbriquées en elles-mêmes comme cet exemple invalide :
E:not(:not(F)) */

/* Syntaxe
:not(negation-selector1[, negation-selector2, …]) {
    /* declarations */
/*
}
*/

/* Exemple */
a:not([rel="external"], [rel="nofollow"]) {
    color: red;
}
/* Dans cet exemple, tous les liens qui n'ont pas d'attribut rel avec la valeu
d'attribut external ou nofollow.
Ainsi, vous pouvez styliser des liens externes ou nofollow (marqués) différents
des liens réguliers. */


/*************************************************************************/
/**********************Pseudo-classe d'optionalité************************/
/*************************************************************************/

/* L'optionnalité de la pseudo-classe concerne les éléments de formulaire
qui sont obligatoires ou facultatifs.
Chaque élément d'entrée qui ne l'est pas :required est sélectionné par :optional. */

/* Syntaxe numéro 1
:required {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:optional {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:required {
    border: 1px solid red;
}

/* Exemple numéro 2 */
:optional {
    border: 1px solid gray;
}
/* L'exemple ajoute une bordure grise à l'élément d'entrée facultatif
et une bordure rouge à l'élément d'entrée requis. */


/*************************************************************************/
/********************Pseudo-classe d'espace réservé***********************/
/*************************************************************************/

/* La pseudo-classe d'espace réservé va correspondre aux éléments d'entrée
qui affichent un texte d'espace réservé. */

/* Syntaxe
:placeholder-shown {
    /* declarations */
/*
}
*/

/* Exemple */
:placeholder-shown {
    color: green;
}

::-webkit-input-placeholder {
    color: green;
}

::-moz-placeholder {
    color: green;
}

:-ms-input-placeholder {
    color: green;
}
/* Dans cet exemple, le texte de l'espace réservé sera vert;
dès que l'entrée est saisie, la couleur par défaut du texte sera utilisée. */


/*************************************************************************/
/******************Pseudo-classe à valeur indéterminée********************/
/*************************************************************************/

/* Cette pseudo-classe est appelée la pseudo-classe de valeur indéterminée
qui représente l'état indéterminé des éléments radio ou case à cocher.
Cet état est défini si la case à cocher/radio n'est ni cochée ni décochée,
fondamentalement un choix non présélectionné.
Un autre état indéterminé serait un achèvement inconnu du compteur de progression. */

/* Syntaxe
:indeterminate {
    /* declarations */
/*
}
*/

/* Exemple */
:indeterminate {
    opacity: 0.6;
}
/* L'exemple mentionné ci-dessus réduirait le nombre d'éléments opacity
de choix non présélectionnés à 0.6. */


/*************************************************************************/
/***********************Pseudo-classe de validité*************************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe de validité et correspond
aux éléments en fonction de leur statut de validation.
Un élément validé est soit valid ou invalid. */

/* Syntaxe numéro 1
:valid {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:invalid {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:valid {
    border: 2px solid green;
}

/* Exemple numéro 2 */
:invalid {
    border: 2px solid red;
}
/* Dans cet exemple, les deux éléments d'entrée ont le type email.
La première entrée a une valeur valide et obtient une bordure verte
tandis que la deuxième entrée a une bordure rouge en raison de sa valeur invalide. */


/*************************************************************************/
/****************Pseudo-classe d'interaction utilisateur******************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe d'interaction utilisateur et
représente des éléments avec une entrée invalide, mais seulement après que
l'utilisateur a interagi avec l'élément correspondant, par exemple
en le focalisant ou en essayant de soumettre un formulaire le contenant. */

/* Syntaxe
:user-invalid {
    /* declarations */
/*
}
*/

/* Exemple */
:user-invalid {
    border-color: red;
}
/* Dans cet exemple, l'entrée avec un contenu non valide aura une bordure rouge
après avoir été focalisée. */


/*************************************************************************/
/************************Pseudo-classe relationnelle**********************/
/*************************************************************************/

/* La pseudo-classe relationnelle représente des éléments dont le sélecteur
de portée relative correspond lorsqu'il est évalué de manière absolue.
Actuellement, les fournisseurs de navigateurs ne sont pas tenus de prendre en charge
ce sélecteur afin de se conformer à la spécification de niveau 4. */

/* Syntaxe
selector1:has(selector2) {
    /* declarations */
/*
}
*/

/* Exemple */
header:has(h1) {
    background-color: blue;
}
/* L'exemple mentionné applique une couleur d'arrière-plan bleue à l'élément <header>
d'en-tête avec des sous-éléments <h1>. */


/*************************************************************************/
/*****************************Pseudo-classe Scope*************************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe de portée et représente
tout élément qui se trouve dans l'ensemble d'éléments de référence contextuels.
Si l'ensemble d'éléments de référence contextuels est vide, :scope équivaut à :root. */

/* Syntaxe
:scope {
    /* declarations */
/*
}
*/

/* Exemple */
:scope {
    background-color: gray;
}
/* Dans cet exemple :scope, est équivalent à :root et sélectionnera
l'élément <html>. Le style de portée sera également appliqué à son élément parent
(en tant que référence). */


/*************************************************************************/
/***************************Pseudo-classe Range***************************/
/*************************************************************************/

/* La validité de pseudo-classe est le sélecteur d'éléments avec des limites de plage.
:in-range correspondrait aux éléments avec une valeur à l'intérieur
de la plage spécifiée tandis que :out-of-range correspondrait aux éléments
qui sont en dehors de la plage donnée. */

/* Syntaxe numéro 1
:in-range {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:out-of-range {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:in-range {
    border-color: green;
}

/* Exemple numéro 2 */
:out-of-range {
    border-color: red;
}
/* L'exemple mentionné définirait le border-color à red si la valeur est hors plage,
sinon l'élément aura une bordure verte. */


/*************************************************************************/
/***********************Pseudo-classe Grid-Structural*********************/
/*************************************************************************/

/* La pseudo-classe grid-structural est faite pour les grilles structurelles
comme les tables. La :nth-col()pseudo-classe représente une cellule appartenant
à la colonne dans une structure de grille qui a des nièmes colonnes avant elle,
tandis que :nth-last-col()comptera à partir d'après cette colonne. */

/* Syntaxe numéro 1
:nth-col(An+B) {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 2
:nth-last-col(An+B) {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 */
:nth-col(2n+1) {
    background-color: gray;
}

/* Exemple numéro 2 */
:nth-last-col(3n+1) {
    background-color: green;
}
/* :nth-col() définira un background-color gris à chaque deuxième colonne
à compter de la première colonne et :nth-last-col() ajoutera un background-color
vert à chaque troisième colonne à compter de la dernière colonne. */


/*************************************************************************/
/**************************Pseudo-classe temporelle***********************/
/*************************************************************************/

/* Cette pseudo-classe est dite temporelle et sélectionnera
l'élément relatif temporel comme lors d'un rendu de parole ou
lors de l'affichage de sous-titres vidéo HTML5 .
Tous ces sélecteurs sont similaires à :is(), tandis que
le :current sélecteur accepte en plus une simple liste de sélecteurs comme argument.
La différence entre ces 3 pseudo-classes est qu'elles :past sélectionneront
tous les frères et sœurs précédents de l'élément :current,
ce qui s'explique d'elle-même :future pour tous les frères et sœurs suivants. */

/* Syntaxe numéro 1 (current)
:current { /* declarations */ /* } */
/*
:current(s1[, s2, …]) { /* declarations */ /* } */
/*
}
*/

/* Syntaxe numéro 2 (past)
:past {
    /* declarations */
/*
}
*/

/* Syntaxe numéro 3 (future)
:future {
    /* declarations */
/*
}
*/

/* Exemple numéro 1 (current)*/
:current(p, span) {
    background-color: yellow;
}

/* Exemple numéro 2 (past et future)*/
:past,
:future {
    display: none;
}
/* Ces règles de sélection mettront en évidence le discours lu à haute voix
en cours avec un fond jaune et les frères et sœurs précédents et suivants
seront masqués. */


/*************************************************************************/
/*******************Pseudo-classe d'option par défaut*********************/
/*************************************************************************/

/* Cette pseudo-classe est appelée l'option par défaut et elle sélectionne
l'élément par défaut parmi un ensemble des mêmes éléments.
Il sélectionnerait l'élément par défaut d'une liste de sélection ou un bouton
qui est son bouton par défaut de formulaire par exemple. */

/*** Cette pseudo-classe fait également partie de la spécification CSS3UI. ***/

/* Syntaxe
:default {
    /* declarations */
/*
}
*/

/* Exemple */
:default {
    background-color: gray;
}
/* L'exemple mentionné définirait le background-color d'un élément par défaut
d'une liste de sélection/groupe de boutons sur gray. */


/*************************************************************************/
/*******************Pseudo-classe de conteneur de focus*******************/
/*************************************************************************/

/* La pseudo-classe du conteneur de focus :focus agit comme
des éléments correspondants dont les descendants dans l'arbre plat
ont également reçu le focus. */

/* Syntaxe
:focus-within {
    /* declarations */
/*
}
*/

/* Exemple */
form:focus-within {
    background-color: yellow;
}
/* Après avoir focalisé l'entrée, le parent formdoit avoir un fond jaune. */


/*************************************************************************/
/*******************Le focus a indiqué la pseudo-classe*******************/
/*************************************************************************/

/* Cette pseudo-classe est appelée pseudo-classe indiquée par le focus
et correspond à chaque élément qui correspond :focus et le navigateur décide
si le focus doit être rendu évident sur l'élément correspondant. */

/* Syntaxe
:focus-visible {
    /* declarations */
/*
}
*/

/* Exemple */
:focus-visible {
    border-color: blue;
}
/* Dans cet exemple, l'entrée aura un bleu border-color lorsqu'elle est miseau point,
car les entrées ont généralement des indicateurs de mise au point basés
sur le navigateur. */


/*************************************************************************/
/********************Pseudo-classe de conteneur cible*********************/
/*************************************************************************/

/* La pseudo-classe du conteneur cible :target agit comme en faisant
correspondre les éléments dont le descendant dans l'arbre plat
correspond également à la cible. */

/* Syntaxe
:target-within {
    /* declarations */
/*
}
*/

/* Exemple */
article:target-within {
    background-color: #cccccc;
}
/* Après avoir cliqué sur le lien de saut d'ancre, l'article avec son élément
d'ancre imbriqué correspondant à la cible obtiendra un fond gris. */


/*************************************************************************/
/**************************Combinaison de colonnes************************/
/*************************************************************************/

/* La colonne du sélecteur de combinaison représente la relation
(basée uniquement sur la sémantique du langage du document) entre un élément
de colonne et un élément de cellule qui appartient à la colonne. */

/* Syntaxe
E || F {
    /* declarations */
/*
}
*/

/* Exemple */
col.class || td {
    background-color: blue;
}
/* L'exemple mentionné définirait le background-color 3, 5 et 7 sur bleu. */
