*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  h1, h2{
      font-size: 1.5em;
      margin: 20px auto;
      text-align: center;
      text-transform: uppercase;
  }
  body > header{
      position: sticky;
      top: 0px;
  }
  body > header > nav{
      width: 100%;
      height: 42px;
      margin: 0 auto;
  }
  .containernav{
      position: absolute;
      width: 100%;
  }
  body > header > nav input[type=checkbox]{
      display: none;
  }
  body > header > nav label{
      display: inline-block;
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      background-color: RGBa(220,220,220,0.5);
  }
  body > header > nav ul{
      display: none;
      list-style-type: none;
      background-color: #555;
  }
  body > header > nav input[type=checkbox]:checked + ul{
      display: flex;
      flex-flow : column wrap;
  }
  body > header > nav ul li{
      flex: 1 1 auto;
      text-align: center;
  }
  body > header > nav > div > ul > li > a{
      color: white;
  }
  body > header > nav a{
      display: block;
      text-decoration: none;
      color: black;
      padding: 10px 0px;
  }
  .under{
      display: flex;
      flex-flow: column wrap;
      z-index: 1000;
  }
  .under li{
      flex: 1 1 auto;
      text-align: left;
  }
  .under a{
      padding: 10px;
      background-color: RGBa(200,200,200,0.8);
  }
  .container{
      display: flex;
      flex-flow: column wrap;
  }
  .grid1, .grid3{background-color: RGBa(120,205,225,0.4);}
  .grid2, .grid4 {background-color: RGBa(225,100,175,0.4);}
  .grid1, .grid2, .grid3, .grid4 {min-height: 100px;}
  .undercontainer{
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      background-color: RGBa(225,215,120,0.4);
  }
  .undercontainer h1{
      font-size: 1.2em;
      margin: 10px 0px 0px 0px;
  }
  .undercontainer nav ul{
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      justify-content: space-around;
  }
  .undercontainer nav a{
      display: block;
      color: #333;
  }
  .undercontainer article{
      margin: 10px;
  }
  .undercontainer footer{
      margin-bottom: 10px;
  }
  body > footer{
      width: 100%;
      height: 100px;
      background-color: #555;
      color: white;
      text-align:center;
      padding: 20px;
  }
  @media screen and (min-width: 980px){
      .containernav{
          position: static;
      }
      body > header > nav label, nav input{
          display: none;
      }
      body > header > nav input[type=checkbox]:checked + ul, body > header > nav ul{
          display: flex;
          flex-flow: row wrap;
          background-color: RGBa(220,220,220,0.5);
      }
      body > header > nav ul li{
          position: relative;
      }
      body > header > nav > div > ul > li > a{
          color: black;
      }
      body > header > nav a{
          border-bottom: 2px solid transparent;
      }
      body > header > nav a:hover{
          color: orange;
          border-bottom: 2px solid gold;
      }
      .under{
          display: none;
          box-shadow: 0px 1px 2px #CCC;
          background-color: white;
          position: absolute;
          width: 100%;
      }
      body > header > nav > div > ul li:hover .under{
          display: flex;
          flex-flow: column wrap;
      }
      .under a{
          border-bottom: none;
          background-color: white;
      }
      .under a:hover{
          border-bottom: none;
          background-color: RGBa(200,200,200,0.1);
      }
      .pulldown > a::after{
          content:" ▼";
          font-size: 12px;
      }
      .container{
          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-template-rows: repeat(3,minmax(300px, 1fr));
      }
      .grid1{
          grid-column: 2 / 3;
      }
      .grid2{
          grid-column: 2 / 3;
          grid-row: 2 / 3; 
          
      }
      .grid3{
          grid-column: 2 / 3;  
          grid-row: 3 / 3; 
      }
      .grid4{
        grid-column: 0 / 3;
        grid-row: 3 / 3;
    }
      .grid5{
          grid-column: 0 / 3;
          grid-row: 1 / 3;
      }
  }
