/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1, h2 et h3 (Titres de niveau 1, titres de niveau 2 et titres de niveau 3) */
h1, h2, h3 {
    color: rgb(35, 128, 100);
}

/* Sélecteurs h2 (Titres de niveau 2) */
h2 {
    background-color: rgb(190, 223, 224);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 128, 100);
}

/* Sélecteurs div, h1, h2, h3, p, a (Conteneurs, titres de niveau 1, titres de niveau 2, titres de niveau 3, paragraphes, liens) */
div, h1, h2, h3, p, a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul et li (Listes à puces non-ordonnées et éléments de liste) */
ul, li {
    list-style: inside;
}

/* Sélecteurs a (Liens) */
a {
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs div pre (Cible la balise pre située dans la div parente) */
div pre {
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
}

/* Sélecteurs div pre p(Cible la balise p située dans la balise parente pre qui elle-même est située dans la div parente) */
div pre p {
    width: 80%;
}

/* Sélecteurs .circulaire (Sélecteurs de classe de plusieurs éléments) */
.circulaire {
    list-style: inside;
    list-style-type: circle;
}
