/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1, h2 et h3 (Titres de niveau 1, titres de niveau 2 et titres de niveau 3) */
h1, h2, h3 {
    color: rgb(35, 128, 100);
}

/* Sélecteurs h2 (Titres de niveau 2) */
h2 {
    background-color: rgb(190, 223, 224);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 128, 100);
}

/* Sélecteurs div, h1, h2, h3, p, a, label, input (Conteneurs, titres de niveau 1, titres de niveau 2, titres de niveau 3, paragraphes, liens) */
div, h1, h2, h3, p, a, label, input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul et li (Listes à puces non-ordonnées et éléments de liste) */
ul, li {
    list-style: inside;
}

/* Sélecteurs img (Images) */
img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs a, label, input (Liens , tags ou légendes pour un objet, champs de saisie) */
a, label, input {
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs table (Tableaux en généralité) */
table {
    text-align: center;
    background: rgb(130, 130, 233);
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs td (Les cellules de notre tableau) */
td {
    border: 1px solid black;
    padding: 20px;
}

/** LES PSEUDO-CLASSES
tr:nth-child(2n+1)
Permettra de cibler les lignes impaires d'un tableau.

tr:nth-child(odd)
Permettra de cibler les lignes impaires d'un tableau.

tr:nth-child(2n)
Permettra de cibler les lignes paires d'un tableau.

tr:nth-child(even)
Permettra de cibler les lignes paires d'un tableau.

span:nth-child(0n+1)
Permettra de cibler un élément <span> qui est le premier fils de son parent. Cela aura le même effet que la pseudo-classe :first-child.

span:nth-child(1)
Synonyme à l'exemple précédent.

span:nth-child(-n+3)
Permettra de cibler un élément si celui-ci fait partie des trois premiers fils d'un parent et que c'est également un élément span.
*/

/* Sélecteurs tr (Les lignes de cellules [PSEUDO-CLASSES, dans ce cas précis : cible les lignes impaires de notre tableau) */
tr:nth-child(odd) {
    color: blue;
    background-color: yellow;
}

/* Sélecteurs tr (Les lignes de cellules [PSEUDO-CLASSES, dans ce cas précis : la dernière ligne de notre tableau) */
tr:last-child {
    background-color: pink;
}

/* Sélecteurs label (Les tags ou les légendes pour un objet) */
label {
    font-family: Helvetica;
    width: 100px;
    float: left;
}

/* Sélecteurs form (Les formulaires en généralité) */
form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Sélecteurs fieldset > input (Cible tous les champs de saisie situés à l'intérieur du cadre fieldset) */
fieldset > input {
    background: #FFF;
    border-radius:  solid 1px rgb(255, 255, 255);
    width: 200px;
    margin-bottom: 100px;
    display: margin auto;
}

/* Sélecteurs input (Cible tous les champs de saisie) */
input {
    background: rgb(101, 251, 101);
    width: 400px;
    text-align: center;
    font-weight : bold;
    border-style: solid 2px blue;
    border-radius: 8px 8px 8px 8px;
    display: margin auto;
}

/* Sélecteurs input#nom, input#prenom (Cible les input dont les identifiants sont #nom et #prenom) */
input#nom, input#prenom {
    background: #FFF;
    width: 200px;
}

/* Sélecteurs #frm (Cible l'identifiant #frm) */
#frm {
    background-color: rgb(241, 233, 233);
}
