/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteurs h1, h2 et h3 (Titres de niveau 1, titres de niveau 2 et titres de niveau 3) */
h1, h2, h3 {
    color: rgb(35, 128, 100);
}

/* Sélecteurs h2 (Titres de niveau 2) */
h2 {
    background-color: rgb(190, 223, 224);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 128, 100);
}

/* Sélecteurs div, h1, h2, h3, p (Conteneurs, titres de niveau 1, titres de niveau 2, titres de niveau 3, paragraphes) */
div, h1, h2, h3, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul et li (Listes à puces non-ordonnées et éléments de liste) */
ul, li {
    list-style: inside;
}

/* Sélecteurs .maclasse (Sélecteurs de classe de plusieurs éléments) */
.maclasse {
    padding: 25px;
    background-color: rgb(59, 59, 253);
}

/* Sélecteur #monid (Sélecteur d'identifiant d'un seul élément) */
#monid {
    border-style: 5px solid rgb(15, 15, 15);
    padding: 25px;
    margin: 25px;
}

/* Sélecteurs section (Section générique d'un document, groupe de contenu thématique) */
section {
    color: rgb(66, 250, 250);
    margin: 100px;
}

/* Sélecteurs h1 (Titres de niveau 1 [exercice]) */
h1 {
    font-variant: small-caps 1em;
    font-size: 2.5em;
}

/* Sélecteurs h2 (Titres de niveau 2 [exercice]) */
h2 {
    font-size: 2vw;
    font-family: Helvetica;
}

/* Sélecteurs p (Paragraphes [exercice]) */
p {
    font-size: 14px;
    color: blue;
}

/* Sélecteurs .maclasse (Sélecteurs de classe de plusieurs éléments [exercice]) */
.maclasse {
    color: green;
}

/* Sélecteur #monid (Sélecteur d'identifiant d'un seul élément [exercice]) */
#superid {
    color: red;
}

/* Sélecteurs section (Section générique d'un document, groupe de contenu thématique [exercice]) */
section {
    font-family: Helvetica;
}

/* Sélecteurs p (Paragraphes [exercice]) */
p {
    margin: 20px;
    text-transform: capitalize uppercase;
}

/* Sélecteurs h1 (Titres de niveau 1 [exercice]) */
h1 {
    text-align: center;
    color: red;
    font-size: 2em;
}

/* Sélecteurs h2 (Titres de niveau 2 [exercice]) */
h2 {
    padding: 10px;
    background-color: green;
    border-left-style: 50px solid black;
}
