/* Introduisez le code CSS ici.
En savoir plus à propos du langage de style CSS sur le site web MDN WEB DOCS :
https://developer.mozilla.org/fr/docs/Web/CSS */

/* Sélecteur body (Corp de la page ou du document) */
body {
    font-family: helvetica;
}

/* Sélecteurs h1, h2 et h3 (Titres de niveau 1, titres de niveau 2 et titres de niveau 3) */
h1, h2, h3 {
    color: rgb(35, 128, 100);
}

/* Sélecteurs h2 (Titres de niveau 2) */
h2 {
    background-color: rgb(190, 223, 224);
}

/* Sélecteurs p (Paragraphes) */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 128, 100);
}

/* Sélecteurs div, h1, h2, h3, p, a (Conteneurs, titres de niveau 1, titres de niveau 2, titres de niveau 3, paragraphes, liens) */
div, h1, h2, h3, p, a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sélecteurs ul et li (Listes à puces non-ordonnées et éléments de liste) */
ul, li {
    list-style: inside;
}

/* Sélecteurs a (Liens) */
a {
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Sélecteurs h1 (Titres de niveau 1 [exercice]) */
h1 {
    text-align: center;
    color: red;
    font-size: 2em;
}

/* Sélecteurs h2 (Titres de niveau 2 [exercice]) */
h2 {
    padding: 10px;
    background-color: green;
    border-left-style: 50px solid black;
}

/* Sélecteurs h1 (Titres de niveau 1 [exercice]) */
h1 {
    text-align: center;
    color: red;
}

/* Sélecteurs h1 ~ p (Sélecteur de frère général [exercice]) */
/* Parmi tous les éléments <h1>, cibler tous
   éléments <p> qui les suivent. */
h1 ~ p {
    color: violet;
}

/* Sélecteurs h2 (Titres de niveau 2 [exercice]) */
h2 {
    text-decoration: underline;
}

/* Sélecteurs section > h2 (Sélecteur enfant [exercice]) */
/* Les éléments <h2> qui sont des enfant d'un */
/* ou plusieurs élément(s) <section> */
section > h2 {
    color: green;
}

/* Sélecteurs article > h2 (Sélecteur enfant [exercice]) */
/* Les éléments <h2> qui sont des enfant d'un */
/* ou plusieurs élément(s) <article> */
article > h2 {
    color: blue;
}

/* Sélecteurs h2 + p:first-child (Sélecteur de frère adjacent avec pseudo-class selectors [exercice]) */
/* Ne cible que le paragraphe désigné comme premier fils de son élément parent et situé directement après un titre ou plusieurs titres <h2> de niveau 2 */
h2 + p:first-child {
    color: red;
    font-style: italic;
}
