/*********************** Les sélecteurs CSS de niveau 1 ******************/

/*************************************************************************/
/*************************************Type********************************/
/*************************************************************************/
/* Ce sélecteur de type sélectionnera chaque élément de raccord conforme
au type d'élément. Ce sélecteur est insensible à la casse en (X)HTML
mais sensible à la casse en XML. */

/* Syntaxe
E {
    /* declarations */
/*
}
*/

/* Exemple */
div {
    color: red;
}
/* Dans cet exemple, tous <div>les éléments auront une couleur rouge
tandis que tous les autres éléments resteront les mêmes. */

/*************************************************************************/
/***************************Combinaison descendante***********************/
/*************************************************************************/
/* Le sélecteur de combinaison descendante sélectionne chaque élément
avec le type de eg F qui a comme parent un élément avec le type d'élément E. */
/***CSS4 a introduit une nouvelle version sans espace blanc du descendant
combination selector. */

/* Syntaxe
E F {
    /* declarations */
/*
}
*/

/* Exemple */
div span {
    background-color: green;
    color: white;
}
/* Cet exemple ajoutera un vert background-color avec un blanc color
à tout <span>ce qui a un <div> parent. */

/*************************************************************************/
/************************************Classe*******************************/
/*************************************************************************/
/* Ce sélecteur de classe correspondra à chaque élément qui a une certaine classe. */
/***Ce sélecteur est le même que le plus compliqué CSS2 attribute selector (Whitespace) */

/* Syntaxe
.classname {
    /* declarations */
/*
}
*/

/* Exemple */
.alert {
    border: 1px solid red;
    background-color: pink;
}
/* Dans cet exemple, chaque élément de la classe alertaura une bordure rouge sur fond rose. */

/*************************************************************************/
/*********************************Identifiant*****************************/
/*************************************************************************/
/* Ce sélecteur d'ID sélectionne (aucun ou) un élément qui a un id attribut donné ;
car l'élément avec l'ID doit être unique. */

/* Syntaxe
#id {
    /* declarations */
/*
}
*/

/* Exemple */
#header {
    border: 1px solid black;
}
/* Cet exemple ajoutera une bordure noire autour du <div> avec l' #header ID. */

/*************************************************************************/
/*****************Pseudo-classe de l'historique des liens*****************/
/*************************************************************************/
/* Cette pseudo-classe d' historique des liens sélectionne uniquement
les liens non visités. S'il est nécessaire de styliser uniquement
les liens non visités, vous devez définir le :link sélecteur avant les autres. */

/* Syntaxe
:link {
    /* declarations */
/*
}
*/

/* Exemple */
:link {
    color: green;
}
/* Dans cet exemple, le deuxième lien - qui n'existe pas - sera de couleur verte. */

/*************************************************************************/
/********************Pseudo-classe d'action utilisateur*******************/
/*************************************************************************/
/* Cette pseudo-classe d'action utilisateur correspondra aux éléments
qui sont activés par un utilisateur, cela peut se produire lorsque l'utilisateur
a cliqué/activé un bouton et a ensuite relâché cette action. */

/* Syntaxe
:active {
    /* declarations */
/*
}
*/

/* Exemple */
button:active {
    background-color: pink;
}
/* Dans cet exemple, l'arrière-plan <button> sera rose si l'utilisateur
clique dessus et le maintient enfoncé. */
